body {
    font-family: "Ruluko", serif; /* Font Family */
    background-image: url(/Assets/akshar-dave-BcvPlibJyo0-unsplash.jpg); /* Background Image */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#container {
    background-color: white;
    width: 1000px;
    height: 707.06px;
    border-radius: 27px;
    margin: 60px auto;  
}

#container img {
   width: 593.73px ;
   height: 669.65px ;
   border-radius: 26px ;
   border: none;
   margin: 10px;
   float: left;
}

.greetings {
   padding: 15px
}

.greetings h1 {
    font-size: 60px;
    
}

.greetings p {
    margin-top: -40px;
    text-align: center;
    font-size: 24px;
    margin-right: 10px;
}

.form {
    font-size: 24px;
    
   
   
}

input[type="text"], input[type="email"], input[type="password"] {
height: 38.16px;
width: 260.4px ;
background-color: 
#D9D9D9;
border: solid 1px white;
margin-left: 50px;
}

.input-name p {
    margin-bottom: -25px;
    margin-left: 66%;
    

}

.submit button {
    width: 129.75px ;
    height: 37.25px;
    border-radius: 50px;
    background-color: black;
    color: white;
    margin-left: 120px;
    margin-top: 20px;
    cursor: pointer;
    font-family: "Ruluko", serif;
    font-size: 24px;
    border: 1px solid black;
    
}

.or {
   text-align: center;
}


.app-signup button  {
   
        width: 186px ;
        height: 45px;
        border-radius: 30px;
        color: black;
        border: 1px solid black;
        font-family: "Ruluko", serif;
        background-color: white;
        margin-top: -500px;
        cursor: pointer;
        
}

.app-signup img {
    height: 25px !important;
    width: 25px !important;
   
}

.app-signup p {
    color: black;
    margin-right: 22px;
}

.crafted p {
font-size: 14px;
text-align: center;
}



@media (max-width: 915px) {
    body {
        font-family: "Ruluko", serif; /* Font Family */
        transform: scale(1.2);
        transform-origin: top;
     
    }

    #container {
        background-color: white;
        width:  458px;
        height: 1200px;
        border-radius: 27px;
        margin: -60px auto;  
    }

    #container img {
        width: 460px ;
        height: 400.72px ;
         margin: auto;
         border-radius: 0px;
         object-fit: cover;
      
     }
     
    
     .greetings {
        padding: 15px
        
     }
     
     .greetings h1 {
         font-size: 40px;
         margin-top: 400px;
         margin-bottom: 50px;
         margin-left: 60px;
        
     }
     
     .greetings p {
         margin-top: -40px;
         margin-right: 60px;
         font-size: 20px;
         
     }

     input[type="text"], input[type="email"], input[type="password"] {
        height: 46.82px;
        width: 300px ;
        background-color: #D9D9D9;
        border: solid 1px white;
       margin-left: 50px;
        }

        .input-name p {
            margin-bottom: -25px;
            margin-left: 12%;
            
        
        }

        .submit button {
            width: 129.75px ;
            height: 37.25px;
            border-radius: 50px;
            background-color: black;
            color: white;
            margin-left: 140px;
            margin-top: 20px;
            cursor: pointer;
            font-family: "Ruluko", serif;
            font-size: 24px;
            border: 1px solid black;
            
        }

        .or {
            margin-left: -50px;
            margin-bottom: 30px;
         }


        .app-signup button  {
   
            width: 273.89px ;
            height: 55.21px;
            border-radius: 30px;
            color: black;
            border: 3px solid black;
            font-family: "Ruluko", serif;
            background-color: white;
            cursor: pointer;
            justify-content: center;
            margin-bottom: 30px;
            margin-left: 70px;
           
            
          
            
    }

    .app-signup img {
        height: 30px !important;
        width: 30px !important;
       padding: 10px 10px;
}

.app-signup p {
    color: black;
    margin-right: 100px;
    margin-top: 18px;
    font-size: 13px;
    
}



.crafted p {
    font-size: 15px;
   margin-right: 60px;
    padding-bottom: 100px;
   
    }

}
